:root {

  --primary: #D81E5B;
  --secondary: #8A4EFC;
  --light: #EEE;
  --light-alt: #61759b;
  --dark: hsl(251, 62%, 12%);
  /* --dark: #131A26; */
  /* --dark-alt: #202B3E; */
  --dark-alt: hsl(250, 41%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: var(--dark-alt);
  color: var(--light);
}

.App {
  padding: 32px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}

h4 {
  font-size: 18px;
  color: var(--light-alt);
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 16px;
}

.todo {
  position: relative;
  background-color: var(--dark);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  
  margin-bottom: 16px;
}

.todo:hover {
  opacity: 0.8;
}

.todo .text {
  font-size: 20px;
}

.todo.is-complete .text {
  text-decoration: line-through;
}

.gone{
  display: none;
}

.done-todo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 48px;
  color: var(--light);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #1eaf4e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
}
.delete-todo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  color: var(--light);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #AF1E2D;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
}

.add-todo-input {
  appearance: none;
  outline: none;
  border: none;
  background-color: #FFF;
  padding: 16px;
  border-radius: 16px;
  width: 100%;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.button {
  padding: 16px 32px;
  border-radius: 999px;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 16px;
  text-align: center;
  cursor: pointer;
}

.input-section{
  margin-bottom: 1rem;
}